<h1>Create New Room </h1>
<form action="/users/create-room" method="post">
{{err}}
    <label for="">Room name</label>
    <input type="text" name="room">
    <label for="">Password</label>
    <input type="text" name="password">
    <button type="submit">Create!</button>
</form>